/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */
/* --------------------------- Body -------------------------------- */
body {
    font-size: 16px;
    font-family: "Open Sans", sans;
    /* Declare the base font-family - from google font api or other */
}

h1, h2, h3, h4, h5, h6 {  font-family: "Noto+Serif", san-slab, sans-serif; }

header,
nav,
main,
footer {
    /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
  max-width: 100%;
    padding: 25px;
}
/* --------------------------  Header ------------------------ */
header {}

header h1 {
    color: #263BB2;
    font-size: 2em;
    position: relative;
    margin: 5px;
    padding-top: .8rem;
}

header figure.logo {
    float: left;
    padding: 05px;
    margin-right: 15px;
}

header .subheading {
    color: #9CABFF;
    font-size: 1.3em;
}
/* ------------------- Navigation Bar -------------------------------- */

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}
nav {background-color: #67B22F;}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    border-top: 1px solid rgba(0,0,0,0.8);
}

nav ul li a:hover {background-color: rgba(0,0,0,0.4); }

nav ul li a.active {background-color: (0,0,0,0.2); color: #fff; }

nav ul.hide {display: none; }

/* -------------------------------- Main ----------------------------- */
main {
    padding: 0px 20px 20px 20px;
}

main h2 {
    color: #4F69FF;
    font-size: 2em;
    padding: 10px;
    margin: 0 0 0 15px;

}

main figure.mainimg {
    margin: 0 0 .2rem 1%;
    width: 100%;
}

main figure.mainimg img {
    max-height: 400px;
    width: 98%;
}

main figure.mainimg figcaption {
    text-align: center; font-size: .75rem;
}
/* ------------------------ Section ----------------------- */
section {
    padding: 15px;
    border: 5px solid #263BB2;
    margin: 10px;
}

h3 {
    color: #9CABFF;
    font-size: 1.2em;
}

section picture {
    padding: 10px 0px 20px 25px;
    margin: -25px
}

.current {
    display: flex;
    font-size: 1.5em;
    margin: 10px;
}

.highlow,
.conditions {
    display: flex;
    flex-flow: column;
    font-size: 1.5em;
    margin: 10px;
}

.forecast {
    display: none;
}
/* ---------------------------------------- Article ----------------------- */
article {
    font-size: 1.3em;
    margin: 20px;
    line-height: 1.2em;
    overflow: auto;
}

article p.town-article img {
    /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    float: right;
    color: #FF9069;
    width: 100%;
    /* fill the page in the small/phone view */
    margin: 20px;
}

.strong1 {
    color: orangered;
}

.strong2 {
    color: #263BB2;
}

.strong3 {
    color: #67B22F;
}
/* ---------------------------------- Footer ------------------ */
footer {
    font-size: 1.3em;
    color: white;
    background-color: #9CABFF;
    text-align: center;
}

footer aside {}

footer > p {}

/* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
