@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    /* ------------------- Navigation Bar -------------------------------- */
    nav button { display:none; }  /* hamburger button does not need to be shown */

    nav {
        background: #05c3fc; background: -moz-linear-gradient(top, #05c3fc 0%, #000000 100%); background: -webkit-linear-gradient(top, #05c3fc 0%,#000000 100%); background: linear-gradient(to bottom, #05c3fc 0%,#000000 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='05c3fc', endColorstr='#000000',GradientType=0 );
        margin: 1% 1.8%;
    }
    nav ul.hide {display: flex;}

    nav ul { padding: 1%; margin: 0 2% 1% 1%; }

    nav ul li { display: inline-flex; }

    nav ul li a {
        font-size: 1em;
        padding: .8rem 1rem;
        border: none;
        border-right: 1px solid rgba(255,255,255,0.8);
    }

    /*----------------------------- Picture Gallery ---------------*/
    div.pictureGallery {
        grid-template-columns: repeat(2, 50%);
    }
    div.pictureGallery figure:hover {
        box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
    }
    /* ------------------------------- Home Page ------------------ */

    /* --------------------------------- Tours ------------------------------ */
    div.adventures {
        grid-template-columns: repeat(4, 25%);
    }

    div.adventures figure figcaption {
        font-size: 1.5rem;
        margin: 0% -40% 0% 0%;
        padding: 0% 0%  0% 0%;
    }




    /* ----------------------- Footer -----------------------------*/
    footer img {
        padding: 0% 0%;
        max-width: 150%;
    }

    footer img {
        margin: 1% auto;
        padding: 2% 1%;
        max-width: 75%;
    }

    footer .socialmedia {
        margin: 1% auto;
        padding: 1% 1%;
        max-width: 100%;
    }

}
