/* This main css file contains the default rules and is geared toward the small/phone view */

* { margin:0; box-sizing: border-box;} /* This wildcard applies to all elements ensuring a box layout model */

/* --------------------------- Body -------------------------------- */
    body {
        font-size: 16px;
        font-family: "Open Sans", sans;
    /* Declare the base font-family - from google font api or other */
    }

    h1, h2, h3, h4, h5, h6 {  font-family: "Noto+Serif", san-slab, sans-serif; }

    header, main, footer {
        /* the comma means apply the following CSS declarations to all of the listed elements */
        /* Declare the maximum width and other main element rules to limit the stretch on wide */
        margin: 1rem auto;
        padding: 2% 1%;
        max-width: 100%;
     }

    h2 {
        color: #e77e23;
        padding: 1% 1%;
    }

    h3 {
        color: #000000;
        padding:1% 1%;
    }

    footer h3 {
        color: #ffffff;
        padding:1% 1%;
    }


    h4 {
        color: #000000;
        font-size: 1.8vw;
        margin: 1% 1.9%;
        padding: 1% 8%;
    }




/* --------------------------  Header ------------------------ */

    header {
        padding: .5rem 2%;
        display: flex;
        flex-flow: row wrap;
    }

    header h1 {
        color: #000000;
        font-size: 2.6em;
        padding-top: 2rem;
        margin: 2% 0 0 .5rem;
    }

    header figure.logo img {
        margin: 1% 2%;
        padding: 2% 6%;
        max-width: 100%;
    }

    header .subHeading {
        color: #05c3fc;
        font-weight: bold;
        text-align: left;
        font-size: 1.6em;
        margin-left: 1.5rem;
    }

    /* ------------------- Navigation Bar -------------------------- */

    nav button {
        margin: .2rem 2%;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        color: #ffffff;
    }

    nav {
        background: #05c3fc; background: -moz-linear-gradient(top, #05c3fc 0%, #000000 100%); background: -webkit-linear-gradient(top, #05c3fc 0%,e77e23 100%); background: linear-gradient(to bottom, #05c3fc 0%,#000000 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='05c3fc', endColorstr='#e77e23',GradientType=0 );
        margin: -4% 2%;
    }

    nav ul {
        list-style-type: none;
   }

    nav ul li {}

    nav ul li a {
        display: flex;
        flex-flow: row wrap;
        text-decoration: none;
        color: rgba(255,255,255,0.8);
        border-top: 1px solid rgba(255,255,255,255.3);
        font-size: 1.8rem;
        padding: .8rem 2%;
    }

    nav ul li.active a { background-color:rgba(0,0,0,0.2); color: #e77e23 }

    nav ul li a:hover {background-color: rgba(0,0,0,0.4);}

    nav ul.hide {display: none;}

    /* --------------------------- Main --------------------------- */
    main figure.mainImg {
        width: 99%;
        margin: 0% 1%;
        padding: % 0% 1% .5%;

    }

    main figure.mainImg img {
        max-height: 400px;
        width: 99%;
        border: 2px solid #e77e23;
    }

    main figure.mainImg figcaption {
        color: #0066ff;
        text-align: center;
        font-size: .75rem;
    }

    aside p {
        font-size: 20px;

    }

    /*----------------------------- Images ---------------*/
    main.pictureGallery {}

    div.pictureGallery {
        padding: 0 2%;
        display: grid;
        grid-template-columns: auto;
    }

    div.pictureGallery figure {margin: 2rem 0; border:1px solid #e77e23}

    div.pictureGallery figure img {width: 100%;}

    div.pictureGallery figure figcaption {
        color: #05c3fc;
        text-align: center;
        text-emphasis: bold;
        font-size: 1.5rem;
        padding: 2% 1%;
    }

    .pictureGallery p {
        margin: 2% 3%;

    }
    /* ------------------------ Section ----------------------- */
    section {

        border: 5px solid #000000;
        margin: 1% 1%;
        padding: 2% 2%;
    }

    section p {
        font-size: 20px;
        margin: 1% 0%;
        padding: 0% 0%;
    }


       /* ----------------------------- Article ----------------------- */
    article {
        display: flex;
        flex-flow: row wrap;
        font-size: 1.3em;
        line-height: 1.2em;
        padding: .8% 2%;
        margin: 1.2% 2%;
    }

    article img {
        /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
        display: flex;
        color: #0066ff;
        width: 100%;
        padding: 0 0 2% 0;
        margin: 0;

        /* fill the page in the small/phone view */
    }


    form {
        width: 100%;
        text-align: left;
    }

    fieldset{
        border-radius: .2em;
        margin: 0.5% 1.0%;
        border: #000000 solid 5px;
    }
    main aside p {
        text-align: left;
        padding: 0% 1%;

    }

    main aside img {
        margin: 0% auto;
        padding: 0% 0%;
        max-width: 75%;
    }

    legend{
        font-size: 1.3em;
        color: white;
        padding: 1%;
        background: #05c3fc; background: -moz-linear-gradient(top, #05c3fc 0%, #000000 100%); background: -webkit-linear-gradient(top, #05c3fc 0%,#000000 100%); background: linear-gradient(to bottom, #05c3fc 0%,#000000 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05c3fc', endColorstr='#000000',GradientType=0 );;
    }

    label{
        display: block;
        margin: 1%;
    }
    label span{
        display:block;
        font-size: 1.3em;
        color: #e77e23;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    input.submit{
        -webkit-appearance: none; /*remove apple mobile default styling*/
        border: #4F69FF solid 2px;
        font-size: 2em;
        font-weight: 700;
        margin:2% 0%;
        padding: 1% 3%;
        width:40%;
        height:auto;
        border-radius: .2px;
        background-color: #000000;
        color: #e77e23;
        box-shadow: 1px 1px 8px #05c3fc ;
    }
       /* ------------------------------- Shopping Accordion Page ---------------------------- */
    /*----------- Accordion ----------------*/


    .accordion {
        background: #05c3fc; background: -moz-linear-gradient(top, #05c3fc 0%, #000000 100%); background: -webkit-linear-gradient(top, #05c3fc 0%,#000000 100%); background: linear-gradient(to bottom, #05c3fc 0%,#000000 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05c3fc', endColorstr='#000000',GradientType=0 );;
        font-size: 1.3em;
        width: 1000%;
        outline: none;
        Border: none;
        color: white;
        padding: 1%;
        cursor: pointer;
        text-align: left;
        transition: 0.4s;
    }

    .active, .accordion:hover {
        background-color: #05c3fc;
}


    .panel {
        padding: 0 18px;
        background-color: #ffffff;
        display: none;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .accordion p {
        margin: 0 4%;
        font-size: 1.5rem;
        line-height: 1.4em;
    }

    .accordion img {
        width: 90%;
    }
    .accordion h5 {
        color: #E77E23;
        text-align: center;
        text-emphasis: bold;
        font-size: 2.2rem;
        padding: 3% 1%;
    }
    .price {
        display: block;
        text-align: center;
        font-weight: bold;
        color: #0066ff;
        font-size: 1.9rem;
        padding-bottom: 15px;
    }



    /*----------- slider Section - Sales ----------------*/
    /*  Taking it back off for now.  Not getting accordion working. */

    .slider { position: relative; }

    .slider > div { position: absolute; }

    /* Stop the picture overlaping  */
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }



    /* ---------------------------------  Servie Table ------------------------------ */
    table.ourServices, tbody {
        border: 5px solid #000000;
        text-align:left;
        border-collapse: collapse;
        height:550px;
        width:auto;
        margin: 1% 1%;

    }
    table.ourServices, tr, td {
        border: 3px solid;
        border-color: #000000;
        padding: 10px;
    }

    table.ourServices tr td {
        color:#000000;
        padding-bottom:2%;
        padding-top: 2%;
    }

    table.ourServices tbody, th{
        background-color:#fcf8f4;
    }

    table.ourServices tbody tr:nth-child(odd){background-color: rgba(222,184,135,.50);}

    table.ourServices tbody tr:nth-child(even){background-color: rgba(222,184,135,.15);}


    /* -------- Origional -----*/
    table, tbody {
        border: 5px solid #000000;
        text-align:left;
        border-collapse: collapse;
        height:550px;
        width:auto;
        margin: 1% 1%;

    }
    table, tr, td {
        border: 3px solid;
        border-color: #000000;
        padding: 10px;
    }

    tr td {
        color:#000000;
        padding-bottom:2%;
        padding-top: 2%;
    }

    tbody, th{
        background-color:#fcf8f4;
    }

    table tbody tr:nth-child(odd){background-color: rgba(222,184,135,.50);}

    table tbody tr:nth-child(even){background-color: rgba(222,184,135,.15);}
    /* -------- Origional -----*/




    /* --------------------------------- index ------------------------------ */
    div.intro {
        display: grid;
        grid-template-columns: repeat(1, 98%);
        grid-gap: 1px;
        padding: 1px;
    }
    div.intro figure img {
        width: 80%
        position: relative;
        margin: 0% 0%;
        padding: 0% 0%;
        z-index: -1;
    }
    div.intro figure figcaption {
        /*    background-color: rgba(222,184,135,.50); */
        background-color: rgba(0, 0, 0,.9);
        color: #ffffffff;
        text-align: center;
        font-style: bold;
        font-size: 1.8rem;
        margin: -1% -13% 6% 0%;
        padding: 2% 0%  0% 1%;
        z-index: 1;
    }
    div.intro figure h3 {
        font-size: 1.6rem;
        margin: 0% 0%;
        padding: 0% 0%;
        z-index: 1;
    }

    div.intro figure p {
        font-size: 1.2rem;
        margin: 1% 4%;
        padding: 1% 0%;
        z-index: 1;
    }
    /* ----------------------- Service ---------------------------------------*/

     /* ------------------------------- Footer ------------------------------- */

    footer {
        text-align: center;
        font-size: .8rem;
        color: #ffffff;
    /*    background-color: #000000; */
        background-color: rgba(0, 0, 0,.8);
        padding: 1.6rem;
    }

    footer img {
        max-width: 50%;
    }
    footer a {
        color: #ffffff;
    }

    footer.socialmedia {
        margin: 3% auto;
        padding: 3% 1%;
        max-width: 40%;
    }

    /* Other Class Selectors */
    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }
