@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    /* ------------------- Navigation Bar -------------------------------- */
    nav button { display:none; }  /* hamburger button does not need to be shown */

    nav {
        background: #05c3fc; background: -moz-linear-gradient(top, #05c3fc 0%, #000000 100%); background: -webkit-linear-gradient(top, #05c3fc 0%,#000000 100%); background: linear-gradient(to bottom, #05c3fc 0%,#000000 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='05c3fc', endColorstr='#000000',GradientType=0 );
        margin: 2% 2%;
    }

    nav ul.hide {display: flex;}

    nav ul { padding: 1%; margin: 0% 2% 1% 1%; }

    nav ul li { display: inline-flex; }

    nav ul li a {
        font-size: 1em;
        padding: .8rem 1rem;
        border: none;
        border-right: 1px solid rgba(255,255,255,0.8);
    }


    /* --------------------------------- index ------------------------------ */
    div.intro {
            grid-template-columns: repeat(2, 50%);
            grid-gap: 2%;
            justify-content: center;
        }



    /* --------------------------------- Adventures ------------------------------ */
    div.adventures {
        grid-template-columns: repeat(2, 50%);
        grid-gap: 2%;
        justify-content: center;
    }

    /* ----------------------- Footer -----------------------------*/
    footer img {
        margin: 1% auto;
        padding: 1% 1%;
        max-width: 60%;
    }

    footer .socialmedia {
        margin: 0% auto;
        padding: 0% 2%;
        max-width: 75%;
    }

    /*--------------------- Picture Gallery ------------------------*/
    div.pictureGallery {
        grid-template-columns: repeat(2, 50%);
        grid-gap: 2%;
    }

    /* ----------------------- Home Page -------------------------- */


}
