@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

  article p.town-article img { width: 29.333%; }

}

article p.town-article img { width: 29.333%; }

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #70CC2B;
}

li {
    float: left;
}

li a {
    display: block;
    color: #263BB2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
