@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

  nav button { display:none; }  /* hamburger button does not need to be shown */

  section.forecast { display:inline-block; }  /* show the 10-day forecast with the medium view and up */

  article p.town-article img { width: 62.666%; float:right; }  /* responsive images */
}

nav ul {
    list-style-type: none;
    margin: 0px 20px 0px 20px;
    padding: 10px;
    overflow: hidden;
    background-color: #67B22F;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #263BB2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li:hover {
    background-color: #FF9069;
}

.forecast td, .forecast th {
    border: 1px solid #263BB2;
    padding: 30px;
}

.forecast tbody {
    font-size: 1.4em;
}

.forecast th {
    padding: 22px 15px 22px 15px;
    text-align: center;
    background-color: #9CABFF;
    color: #18286D;
}
