/* This table css file for the table html file only */

/* This wildcard applies to all elements ensuring a box layout model */

/* --------------------------- Body -------------------------------- */
body {
    text-align: center;
    font-family: Ubuntu, sans-serif;
    /* Declare the base font-family - from google font api or other */
}
/* ----------------------- background box -------------------------- */
section {
    width: 19rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1.5rem;
    box-shadow: 4px 4px 8px #E7FFED;
    margin: auto;
}

/* --------------------------- Table -------------------------------- */

table {
    box-shadow: 6px 6px 12px #628CA6;
    border-collapse: collapse;
    text-align: center;
    width: 19rem;
    margin: auto;
}

table, tr, th, td {
    text-align: center;
    padding: .6rem;
    border: 1px solid rgba(0,0,0,0.4);;
    border-collapse: collapse;
}

th, td { padding: 10px; }

td { font-weight: bold; }

table tr:nth-child(even) { background-color: #E7F0ED; }

table tr:nth-child(odd) { background-color:#E7FFED; }

table th {
    font-size: 1.8em;
    background-color: #7FB9C2;
}


tfoot tr td, footer { background-color: #7FB9C2; }

.whiteText {
    background-color: #628CA6;
    color: white;
    font-weight: bold;
}
